
h1 {
     color:blue;
}

.navbar-dark {
    background-color: blue;
}


.jumbotron {
     margin: 0px auto;
     padding: 70x 30px;
 }

 body {
    padding: 50px 0px 0px 0px;
    z-index: 0; }

.content-text {
    
    font-size: 150%;
    font-style: italic;
    font-weight: bold;

}

.col-content {
    margin: 50px 0px;
}
img {
    width: 100%;
    border-radius: 10px;
}

.description-container
{
max-width: 800px;
margin: 40px auto 20px;
}
.description-container.floating-image
{
max-width:400px;
}
.description-container.floating-image.right
{
float:right;
margin-Left:30px;
margin-bottom:10px;
}
