
h1 {
     color:blue;
}

.navbar-dark {
    background-color: blue;
}


.jumbotron {
     margin: 0px auto;
     padding: 70x 30px;
 }

 body {
    padding: 50px 0px 0px 0px;
    z-index: 0; }

.content-text {
    padding-left: 30px;
    font-size: 150%;
    font-style: italic;
    font-weight: bold;

}

.col-content {
    padding: 30px 10px;
}

img {
    width: 100%;
    border-radius: 10px;
}