
h1 {
     color:blue;
}

.navbar-dark {
    background-color: blue;
}


.jumbotron {
     margin: 0px auto;
     padding: 70x 30px;
 }

 body {
    padding: 50px 0px 0px 0px;
    z-index: 0; }

.my-container {
    margin-top: 2em;
}

.my-form {
    margin-top: 2em;
}
.content-text {
    
    font-size: 150%;
    font-style: italic;
    font-weight: bold;

}

.col-content-img {
    margin: 50px 0px;
}
img {
    width: 100%;
    border-radius: 10px;
}

.footer {
    background-color: blue;
}

.footer-text {
    color: white;
    font-size: 120%;
}

.footer-col {
    margin: 10px 0px 10px 0px;
}

.social-icons {
    color: white;
    margin-right: 10px;
}

.social-icons-last {
    color: white;
}

.quickie {
    text-decoration: none;
    margin-right: 10px;
    font-size: 110%;
    color: grey;
}

.quickie-last {
    text-decoration: none;
    font-size: 110%;
    color: grey;
}

.active-quickie {
    text-decoration: none;
    color: white;
}

.quickie:hover {
    text-decoration: none;
    color: white;
}

.quickie-last:hover {
    text-decoration: none;
    color: white;
}
